# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# macOS system files
.DS_Store

# Logs and temporary files
*.log
*.tmp

# IDE-specific files
.vscode/
.idea/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Zip files
*.zip

# Streamlit cache and temporary files
.streamlit/
